* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
  background-color: rgb(26, 156, 47);
}

.nav-container-left {
  display: flex;
  gap: 2em;
  align-items: center;
  text-align: center;
}

.nav-container-left ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  cursor: pointer;
}

.nav-container-right {
  display: flex;
  gap: 0.5em;
  text-align: center;
  align-items: center;
}

.nav-container-right button {
  width: 5em;
  border-radius: 0.2em;
  padding: 0.2em;
}

.nav-container-right button:hover {
  background-color: rgb(31, 30, 30);
  color: white;
  transition: ease-in-out;
}

.hero-section {
  height: 100vh;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero-section img {
  height: 90vh;
  margin-top: 0.5em;
}

.hero-section h3 {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  margin: 20px auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(7, 90, 58, 0.3);
  padding: 3em;
  border-radius: 0.5em;
}

.browse-stalls {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 1.4em;
}

.login-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black with 50% opacity */
  z-index: 100; /* Ensure it's below modal but above other content */
}

.login-modal {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  border-radius: 0.3em;
  border: 1px solid rgb(206, 206, 206);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 101;
}

.login-header {
  background-color: green;
  display: flex;
  justify-content: space-between;
  color: white;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  padding: 0.2em;
}

#btn-x {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: red;
  text-align: center;
  cursor: pointer;
}

.login-body form {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  gap: 0.4em;
  border-radius: 0.3em;
}
.login-body button {
  background-color: green;
  border-radius: 0.3em;
  color: white;
  height: 2em;
}

.error-message {
  color: rgb(201, 41, 41);

  min-height: 20px; /* Equal to your line-height */
  line-height: 20px; /* Match min-height */
}
